




<hello name="{{ name }}"></hello>
 <a  class="col-1-4"  routerLink="/dailytrend">
    <div class="module hero">
      <h4>Daily Trend</h4>
    </div>
  </a>
  <a  class="col-1-4">
    <div class="module hero" routerLink="/monthlytrend">
      <h4>Monthly Trend</h4>
    </div>
  </a>
<table border="Black">
<tbody>
<tr>
<td>&nbsp;<strong>Daily Data</strong></td>
<td>&nbsp;<strong>Monthly Data</strong></td>
<td>&nbsp;<strong>Quarterly Data</strong></td>
</tr>
<tr>
<td>
<table border="Black">
<tbody>
<tr>
<td>&nbsp;<strong>Sensor&nbsp;</strong></td>
<td><strong>Count&nbsp;</strong></td>
<td><strong>&nbsp;Type</strong></td>
</tr>
<tr>
<td><span style="color: #00ff00;">PioneerSq</span></td>
<td><span style="color: #00ff00;">200</span></td>
<td><span style="color: #00ff00;">Outdoor</span></td>
</tr>
<tr>
<td><span style="color: #00ff00;">S_24hrFitness</span></td>
<td><span style="color: #00ff00;">100</span></td>
<td><span style="color: #00ff00;">Cycle</span></td>
</tr>
<tr>
<td>S3</td>
<td>80</td>
<td>Treadmill</td>
</tr>
<tr>
<td>S4</td>
<td>70</td>
<td>Outdoor</td>
</tr>
<tr>
<td><span style="color: #ff0000;">S7</span></td>
<td><span style="color: #ff0000;">40</span></td>
<td><span style="color: #ff0000;">Indoor</span></td>
</tr>
<tr>
<td><span style="color: #ff0000;">S8</span></td>
<td><span style="color: #ff0000;">30</span></td>
<td><span style="color: #ff0000;">Indoor</span></td>
</tr>
</tbody>
</table>
</td>
<td>
<table border="Black">
<tbody>
<tr>
<td>&nbsp;<strong>Sensor&nbsp;</strong></td>
<td><strong>Count&nbsp;</strong></td>
<td><strong>&nbsp;Type</strong></td>
</tr>
<tr>
<td><span style="color: #00ff00;">OregonZoo</span></td>
<td><span style="color: #00ff00;">2K</span></td>
<td><span style="color: #00ff00;">Outdoor</span></td>
</tr>
<tr>
<td><span style="color: #00ff00;">S_LAFitness</span></td>
<td><span style="color: #00ff00;">1K</span></td>
<td><span style="color: #00ff00;">Cycle</span></td>
</tr>
<tr>
<td>S3</td>
<td>800</td>
<td>Treadmill</td>
</tr>
<tr>
<td>S4</td>
<td>700</td>
<td>Outdoor</td>
</tr>
<tr>
<td><span style="color: #ff0000;">S7</span></td>
<td><span style="color: #ff0000;">400</span></td>
<td><span style="color: #ff0000;">Indoor</span></td>
</tr>
<tr>
<td><span style="color: #ff0000;">S8</span></td>
<td><span style="color: #ff0000;">300</span></td>
<td><span style="color: #ff0000;">Indoor</span></td>
</tr>
</tbody>
</table>
</td>
<td>
<table border="Black">
<tbody>
<tr>
<td>&nbsp;<strong>Sensor&nbsp;</strong></td>
<td><strong>Count&nbsp;</strong></td>
<td><strong>&nbsp;Type</strong></td>
</tr>
<tr>
<td><span style="color: #00ff00;">PioneerSq</span></td>
<td><span style="color: #00ff00;">20K</span></td>
<td><span style="color: #00ff00;">Outdoor</span></td>
</tr>
<tr>
<td><span style="color: #00ff00;">S_24hrFitness</span></td>
<td><span style="color: #00ff00;">30K</span></td>
<td><span style="color: #00ff00;">Cycle</span></td>
</tr>
<tr>
<td>S3</td>
<td>80</td>
<td>Treadmill</td>
</tr>
<tr>
<td>S4</td>
<td>70</td>
<td>Outdoor</td>
</tr>
<tr>
<td><span style="color: #ff0000;">S7</span></td>
<td><span style="color: #ff0000;">40</span></td>
<td><span style="color: #ff0000;">Indoor</span></td>
</tr>
<tr>
<td><span style="color: #ff0000;">S8</span></td>
<td><span style="color: #ff0000;">30</span></td>
<td><span style="color: #ff0000;">Indoor</span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
